:root {
    --background-color: #fcfcfc;
    --font-color: #98baa2;
    --menu-footer-color: #C0E4CA;
    --elements-color: white;
    --button-color: #deaaff;
    --stats-color: #deaaff;
    --card-color: #faecf3;
    --span-color: #deaaff;
    --shadow-color: #cbb0c488;
    --form-color: #e8d6f4;
    --fill-hover-color: invert(85%) sepia(12%) saturate(650%) hue-rotate(318deg) brightness(99%) contrast(94%);
    --fill-color:invert(83%) sepia(24%) saturate(6690%) hue-rotate(208deg) brightness(107%) contrast(102%); /*white*/
    --fill-icon-color: invert(83%) sepia(24%) saturate(6690%) hue-rotate(208deg) brightness(107%) contrast(102%);
    --form-input-color: #f7f2f2;    
}